/* main text */
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Oregano', cursive;
  background-color: #0A1126;
  padding: 0;
  margin: 0;
  color: #E1E3E3;
  text-align: center;    
}
h1 {
  font-size: 55px;
}
h2 {
  font-size: 44px;
}
h3 {
  font-size: 35px;
  padding-top: 5%;
  padding-bottom: 1.5%;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 24px;
  text-align: left;
  padding-left:5%;
}
p {
  font-size: 20px;
  text-align: left;
  margin: 7px 18% 7px 18%;
}
/* Footer */
.footer {
  background-color: #333E61;
  color: #E1E3E3;
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.01);
  margin-top: auto;
}
.footer i {
  margin: 0 3px;
}
.footer a {
  color: #E1E3E3;
  text-decoration: none;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*button*/
#button1{
  height: fit-content;
  font-size: 22px;
  background-color: #E6BE5A;
  border-color: #E6BE5A;
}
#button1:hover{
  background-color: #C4A24D;
}



