/* main text */
body {
    font-family: 'Oregano', cursive;
    background-color: #0A1126;
    padding: 0;
    margin: 0;
    color: #E1E3E3;
    text-align: center;    
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 22.5px;
}

p {
    font-size: 20px;
    text-align: left;
    margin: 7px 18% 7px 18%;
}

/* navbar-header */
nav {
    background-color: #333E61;
    text-align: left;    
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;  
}

.logo-link {
    order: 2;
    margin-right: 20px;
    padding-top: 10px;
    position: relative;
    text-decoration: none;
}

.logo-image {
    width: 100px;
    height: auto;
}

.logo-link:hover::before {
    content: "Go back to Home";
    position: relative;
    bottom: -40px;
    left: 50%;
    transform: translateX(-70%);
    background-color: #C4A24D;
    color: #E1E3E3;
    padding: 5px;
    border-radius: 2px;
    font-size: 10;
}

.navbar {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-left: 6%;
    margin-right: 9%;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar li a {
    color: #E1E3E3;
    font-family: 'Aclonica', sans-serif;
    text-decoration: none;
     
}

.navbar li::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #E1E3E3;
    transition: width 0.3s ease-in-out;
}

.navbar li:hover::before {
    width: 100%;
}

.navbar li:nth-child(5):hover a {
    color: #E6BE5A;
}

.navbar li:nth-child(4):hover a {
    color: #70A1E5;
}

.navbar li:nth-child(3):hover a {
    color: #9AC0AD;
}

.navbar li:nth-child(2):hover a {
    color: #BBACEB;
}

.navbar li:nth-child(1):hover a {
    color: #E6BE5A;
}

/* Banners */
.banner-home{
  background-image: url('g1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 13%;
  padding-bottom: 6%;
  height: 35%;
}

/* Footer */
.footer {
    background-color: #333E61;
    color: #E1E3E3;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.01);
    margin-top: auto;
}
.footer i {
    margin: 0 3px;
}

.footer a {
    color: #E1E3E3;
    text-decoration: none;
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* home page */
.home h3{
    color:#70A1E5;
} 
.about-text{
    background-color: #0E1836;
    margin: 7px 10%;
    padding: 15px 0;
    border-radius: 15px;
    border: 1px solid #E1E3E3;
}

