/* main text */
body {
    font-family: 'Oregano', cursive;
    background-color: #0A1126;
    padding: 0;
    margin: 0;
    color: #E1E3E3;
    text-align: center;    
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 22.5px;
}

p {
    font-size: 18px;
    text-align: left;
    margin: 15px 25% 15px 25%
}

/* navbar-header */
nav {
    background-color: #333E61;
    text-align: left;    
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    order: 2;
    margin-right: 20px;
    padding-top: 10px;
}

.logo-image {
    width: 100px;
    height: auto;
}

.navbar {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-left: 6%;
    margin-right: 9%;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar li a {
    color: #E1E3E3;
    font-family: 'Aclonica', sans-serif;
    text-decoration: none;
     
}

.navbar li::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #E1E3E3;
    transition: width 0.3s ease-in-out;
}

.navbar li:hover::before {
    width: 100%;
}

.navbar li:nth-child(5):hover a {
    color: #E6BE5A;
}

.navbar li:nth-child(4):hover a {
    color: #70A1E5;
}

.navbar li:nth-child(3):hover a {
    color: #9AC0AD;
}

.navbar li:nth-child(2):hover a {
    color: #BBACEB;
}

.navbar li:nth-child(1):hover a {
    color: #E6BE5A;
}

/* Banners */
.banner-home{
  background-image: url('g1.jpg');
  opacity: 0.75;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 6%;
  padding-bottom: 6%;
  height: 35%;
}
.home-text {
  color: #E1E3E3;
  opacity: 1;
}
/* Footer */
.footer i{
    color: #E1E3E3;
}
