/* main text */
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Oregano', cursive;
    background-color: #0A1126;
    padding: 0;
    margin: 0;
    color: #E1E3E3;
    text-align: center;    
}
h1 {
    font-size: 55px;
}
h2 {
    font-size: 44px;
}
h3 {
    font-size: 35px;
    padding-top: 5%;
    padding-bottom: 1.5%;
}
h4 {
    font-size: 30px;
}
h5 {
    font-size: 24px;
    text-align: left;
    padding-left:5%;
}
p {
    font-size: 20px;
    text-align: left;
    margin: 7px 18% 7px 18%;
}
#row-card{
    margin: 2% 6%;
}

/* navbar-header */
nav {
    background-color: #333E61;
    text-align: left;    
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;  
}
.logo-link {
    margin-right: 20px;
    position: relative;
    text-decoration: none;
}
.logo-image {
    width: 110px;
    height: auto;
}
.logo-link:hover::before {
    content: "Click to go Home";
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    background-color: #C4A24D;
    color: #0A1126;
    padding: 5px;
    border-radius: 2px;
    font-size: 10px;
    width: fit-content;
    white-space: nowrap;
}
.navbar {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 1.5% 0.5%;
}
.navbar li {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    align-items: center;
    position: relative;
}
.navbar li a {
    color: #E1E3E3;
    font-family: 'Aclonica', sans-serif;
    text-decoration: none;
    font-size: 16px;
     
}
.navbar li::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #E1E3E3;
    transition: width 0.3s ease-in-out;
}
.navbar li:hover::before {
    width: 100%;
}
.navbar li:nth-child(5):hover a {
    color: #E6BE5A;
}
.navbar li:nth-child(4):hover a {
    color: #70A1E5;
}
.navbar li:nth-child(3):hover a {
    color: #9AC0AD;
}
.navbar li:nth-child(2):hover a {
    color: #BBACEB;
}
.navbar li:nth-child(1):hover a {
    color: #E6BE5A;
}

/* Banners */
.banner{
  background-image: url('img/g1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 14% 12% 3.5%;
}
.banner-text{
    border-radius: 15px;
    border: 1px dotted #E1E3E3;
    background-color: #2938604d;
    margin: 2% 7%;
    padding: 5%;
} 
.banner-text h5{
    text-align: center;
}

/* Footer */
.footer {
    background-color: #333E61;
    color: #E1E3E3;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.01);
    margin-top: auto;
}
.footer i {
    margin: 0 3px;
}
.footer a {
    color: #E1E3E3;
    text-decoration: none;
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*button*/
#button1{
    height: fit-content;
    font-size: 22px;
    background-color: #E6BE5A;
    border-color: #E6BE5A;
}
#button1:hover{
    background-color: #C4A24D;
}

/* cards*/
.card {
    padding: 0;
    border: 3px double #7A998A;
    background-color: #2938604d;
}
.card-map{
    border:0;
    margin: 1% 12%;
}

/* home page */
.home h3{
    color:#70A1E5;
}
.text, .home .row{
    background-color: #0E1836;
    margin: 7px 11%;
    padding: 15px 0;
    border-radius: 15px;
    border: 1px solid #E1E3E3;
}
.home .container a {
    color: #E6BE5A;
}
.text-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 10%;
}
.home .col-md-1{
    padding: 1% 5% 1% 10%;
}
.home .col-md-10 {
    padding: 3% 5% 3% 20%;
}
.home .banner{
    padding: 16% 12% 7%;
}


/* loc page */
.loc .col-md-6{
    padding-right: 4%;
}
.loc h4, .loc h5{
    padding: 1% 5%;
    
}
.loc .card-title{
    color:#5ca793;
    padding:1% 5%;
    margin:0;
}
.loc h4{
    color:#5ca793;
    padding-top: 3%;
}
.loc h5{
    font-size: 18.5px;
    text-align: left;
}
.loc table{
    color: #E1E3E3;
    font-size: 18px;
}

/* artist page */
.locationClick .col-md-6{
    margin:0;
    padding: 0;
    border: 1px solid #0A1126; 
}
.artist .main{
    margin: 3% 10%;
    padding: 3%;
}
#ottawa h1, #amsterdam h1{
    text-align: left;
    padding-top: 5%;
}
.col-md-6 .ottawaC{
    background-image: url('img/purple.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30% 12%;
}
.col-md-6 .amsterdamC{
    background-image: url('img/yellow.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30% 12%;
}
.col-md-6 a{
    color: #E1E3E3;
}
.col-md-6:hover h2{
    text-decoration: underline;
}
#ottawa h1, .col-md-6:hover .ottawaC h2{
    color: #BBACEB;
}
#amsterdam h1,.col-md-6:hover .amsterdamC h2{
    color: #E6BE5A;
}
.artist .col-md-6:hover .ottawaC{
    border: 1px solid #A991F7;
}
.artist .col-md-6:hover .amsterdamC{
    border: 1px solid #C4A24D;
}
.pfp{
    padding-top: 5%;
    width: 76%;
}
#ottawa .card{
    border-color: #A991F7;
}
#amsterdam .card{
    border-color:#C4A24D;
}
#ottawa .card a{
    color: #A991F7;
    text-decoration: underline;
}
#amsterdam .card a{
    color: #E6BE5A;
    text-decoration: underline;
}
.card-body .name{
    font-size: 27px;
}
.card-body p{
    margin:0;
    padding: 0 5%;
}

/*booking page*/
.book .col-md-7, .book .col-md-4{
    border:2px double #C4A24D;
    padding:1%;
}

.form-group{
    text-align: left;
    font-size: 22px;
} 
.form-control{
    width: 90%;
}
.datepicker table{
    margin:5%;
    padding: 2%;    
}
.datepicker-dropdown{
    border: 3px solid #5ca793;
}
select:disabled {
    color: #C4A24D; 
}
#info{
    align-items: center;
    padding:3%;
}

/*galery page*/
.gallery .row{
    margin: 5%;
}
#photo{
    margin:7% 3%;
    padding: 5% 4%;
    border-color: #70A1E5;
}
#options{
    font-size: 24px;
    border: 3px solid #70A1E5;
    text-align: left;
    padding:2%;
    display: flex;
  justify-content: space-between;
}
#options label{
    padding:1.5%;
}
#options .col-md-3 {
    flex: 1;
    margin-right: 1.5%;
    margin-left: 1.5%;
}